package ${adminapiPackage}.excel;

import java.time.LocalDateTime;

import lombok.Data;

/**
 * ${table.comment}
 *
 * @author CodeGenerate
 */
@Data
public class ${entity}Excel {
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in $table.fields)
    /**
     * ${field.comment}
     */
    private $!field.propertyType $!field.propertyName;
#end
## ----------  END 字段循环遍历  ----------
}
