package com.company.adminapi.controller;

import java.time.LocalDateTime;
import java.util.List;

import javax.servlet.http.HttpServletResponse;
import javax.validation.constraints.Min;
import javax.validation.constraints.NotNull;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;

import com.company.adminapi.annotation.OperationLog;
import com.company.adminapi.annotation.RequirePermissions;
import com.company.adminapi.easyexcel.ExcelUtil;
import com.company.adminapi.enums.OperationLogEnum.BusinessType;
import com.company.adminapi.excel.${entity}Excel;
import com.company.common.response.PageResp;
import com.company.framework.util.PropertyUtils;
import ${apiPackage}.feign.${entity}Feign;
import ${apiPackage}.request.${entity}Req;
import ${apiPackage}.response.${entity}Resp;

/**
 * ${table.comment} AdminAPI控制器
 *
 * @author CodeGenerate
 */
@Validated
@RestController
@RequestMapping("/${_entity}")
public class ${table.controllerName} {

    @Autowired
    private ${entity}Feign ${_entity}Feign;

    @RequirePermissions("${moduleName}:${_entity}:query")
    @GetMapping("/page")
    public PageResp<${entity}Resp> page(@NotNull @Min(value = 1) Long current, @NotNull Long size## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in $table.fields)
#if($field.propertyName != "id")
, $!field.propertyType $!field.propertyName#end
#end
## ----------  END 字段循环遍历  ----------
) {
        return ${_entity}Feign.page(current, size## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in $table.fields)
#if($field.propertyName != "id")
, $!field.propertyName#end
#end
## ----------  END 字段循环遍历  ----------
);
    }

    @RequirePermissions("${moduleName}:${_entity}:query")
    @GetMapping("/query")
    public ${entity}Resp query(@NotNull Integer id) {
        return ${_entity}Feign.query(id);
    }

    @OperationLog(title = "${table.comment}保存", businessType = BusinessType.INSERT)
    @RequirePermissions("${moduleName}:${_entity}:save")
    @PostMapping("/save")
    public Boolean save(@RequestBody ${entity}Req ${_entity}Req) {
        return ${_entity}Feign.save(${_entity}Req);
    }

    @OperationLog(title = "${table.comment}更新", businessType = BusinessType.UPDATE)
    @RequirePermissions("${moduleName}:${_entity}:update")
    @PostMapping("/update")
    public Boolean update(@RequestBody ${entity}Req ${_entity}Req) {
        return ${_entity}Feign.update(${_entity}Req);
    }

    @OperationLog(title = "${table.comment}删除", businessType = BusinessType.DELETE)
    @RequirePermissions("${moduleName}:${_entity}:remove")
    @PostMapping("/remove")
    public Boolean remove(@RequestBody List<Integer> idList) {
        return ${_entity}Feign.remove(idList);
    }

    @OperationLog(title = "${table.comment}导出", businessType = BusinessType.EXPORT, isSaveResponseData = false)
    @RequirePermissions("${moduleName}:${_entity}:export")
    @GetMapping("/export")
    public void export(HttpServletResponse response## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in $table.fields)
#if($field.propertyName != "id")
, $!field.propertyType $!field.propertyName#end
#end
## ----------  END 字段循环遍历  ----------
) {
        List<${entity}Resp> ${_entity}RespList = ${_entity}Feign.list(## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in $table.fields)
#if($field.propertyName != "id")
$!field.propertyName#if($foreach.hasNext), #end#end
#end
## ----------  END 字段循环遍历  ----------
);
        List<${entity}Excel> ${_entity}ExcelList = PropertyUtils.copyArrayProperties(${_entity}RespList, ${entity}Excel.class);
        ExcelUtil.write2httpResponse(response, "${table.comment}", ${entity}Excel.class, ${_entity}ExcelList);
    }
}
