package ${adminapiPackage}.excel;

import java.time.LocalDateTime;

import com.alibaba.excel.annotation.ExcelProperty;
import com.company.adminapi.easyexcel.converter.SysUserConverter;

import lombok.Data;

/**
 * ${table.comment}
 *
 * @author ${author}
 */
@Data
public class ${entity}Excel {
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in $table.fields)
    /**
     * ${field.comment}
     */
## 字段createBy、updateBy转换
#if($field.propertyName == "createBy" && $field.propertyName == "updateBy")
	@ExcelProperty(value = "${field.comment}", converter = SysUserConverter.class)
#else
	@ExcelProperty(value = "${field.comment}")
#end
    private $!field.propertyType $!field.propertyName;
#end
## ----------  END 字段循环遍历  ----------
}
