package com.company.adminapi.controller;

import java.time.LocalDateTime;
import java.util.List;

import javax.servlet.http.HttpServletResponse;
import javax.validation.constraints.Min;
import javax.validation.constraints.NotNull;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;

import com.company.adminapi.annotation.OperationLog;
import com.company.adminapi.annotation.RequirePermissions;
import com.company.adminapi.easyexcel.ExcelUtil;
import com.company.adminapi.enums.OperationLogEnum.BusinessType;
import com.company.adminapi.excel.${entity}Excel;
import com.company.common.response.PageResp;
import com.company.framework.util.PropertyUtils;
import ${apiPackage}.feign.${entity}Feign;
import ${apiPackage}.request.${entity}Req;
import ${apiPackage}.response.${entity}Resp;

/**
 * ${table.comment} AdminAPI控制器
 *
 * @author CodeGenerate
 */
@Validated
@RestController
@RequestMapping("/${entity.substring(0,1).toLowerCase()}${entity.substring(1)}")
public class ${table.controllerName} {

    @Autowired
    private ${entity}Feign ${entity.substring(0,1).toLowerCase()}${entity.substring(1)}Feign;

    @RequirePermissions("${moduleName}:${entity.substring(0,1).toLowerCase()}${entity.substring(1)}:query")
    @GetMapping("/page")
    public PageResp<${entity}Resp> page(@NotNull @Min(value = 1) Long current, @NotNull Long size## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in $table.fields)
#if($field.propertyName != "id")
, $!field.propertyType $!field.propertyName#end
#end
## ----------  END 字段循环遍历  ----------
) {
        return ${entity.substring(0,1).toLowerCase()}${entity.substring(1)}Feign.page(current, size## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in $table.fields)
#if($field.propertyName != "id")
, $!field.propertyName#end
#end
## ----------  END 字段循环遍历  ----------
);
    }

    @RequirePermissions("${moduleName}:${entity.substring(0,1).toLowerCase()}${entity.substring(1)}:query")
    @GetMapping("/query")
    public ${entity}Resp query(@NotNull Integer id) {
        return ${entity.substring(0,1).toLowerCase()}${entity.substring(1)}Feign.query(id);
    }

    @OperationLog(title = "${table.comment}保存", businessType = BusinessType.INSERT)
    @RequirePermissions("${moduleName}:${entity.substring(0,1).toLowerCase()}${entity.substring(1)}:save")
    @PostMapping("/save")
    public Boolean save(@RequestBody ${entity}Req req) {
        return ${entity.substring(0,1).toLowerCase()}${entity.substring(1)}Feign.save(req);
    }

    @OperationLog(title = "${table.comment}更新", businessType = BusinessType.UPDATE)
    @RequirePermissions("${moduleName}:${entity.substring(0,1).toLowerCase()}${entity.substring(1)}:update")
    @PostMapping("/update")
    public Boolean update(@RequestBody ${entity}Req req) {
        return ${entity.substring(0,1).toLowerCase()}${entity.substring(1)}Feign.update(req);
    }

    @OperationLog(title = "${table.comment}删除", businessType = BusinessType.DELETE)
    @RequirePermissions("${moduleName}:${entity.substring(0,1).toLowerCase()}${entity.substring(1)}:remove")
    @PostMapping("/remove")
    public Boolean remove(@RequestBody List<Integer> ids) {
        return ${entity.substring(0,1).toLowerCase()}${entity.substring(1)}Feign.remove(ids);
    }

    @OperationLog(title = "${table.comment}导出", businessType = BusinessType.EXPORT, isSaveResponseData = false)
    @RequirePermissions("${moduleName}:${entity.substring(0,1).toLowerCase()}${entity.substring(1)}:export")
    @GetMapping("/export")
    public void export(HttpServletResponse response## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in $table.fields)
#if($field.propertyName != "id")
, $!field.propertyType $!field.propertyName#end
#end
## ----------  END 字段循环遍历  ----------
) {
        List<${entity}Resp> listResp = ${entity.substring(0,1).toLowerCase()}${entity.substring(1)}Feign.list(## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in $table.fields)
#if($field.propertyName != "id")
$!field.propertyName#if($foreach.hasNext), #end#end
#end
## ----------  END 字段循环遍历  ----------
);
        List<${entity}Excel> excelList = PropertyUtils.copyArrayProperties(listResp, ${entity}Excel.class);
        ExcelUtil.write2httpResponse(response, "${table.comment}", ${entity}Excel.class, excelList);
    }
}
