package ${package.Controller};

import java.time.LocalDateTime;
import java.util.List;

import org.apache.commons.lang3.StringUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.util.CollectionUtils;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.PageDTO;

import com.company.common.response.PageResp;
import com.company.framework.util.PropertyUtils;
import ${apiPackage}.feign.${entity}Feign;
import ${apiPackage}.request.${entity}Req;
import ${apiPackage}.response.${entity}Resp;
import ${package.Entity}.${entity};
import ${package.Service}.$!table.serviceName;

/**
 * ${table.comment} 前端控制器
 *
 * @author CodeGenerate
 */
@RestController
@RequestMapping("/${entity.substring(0,1).toLowerCase()}${entity.substring(1)}")
public class ${table.controllerName} implements ${entity}Feign {

    @Autowired
    private $!table.serviceName ${table.serviceName.substring(0,1).toLowerCase()}${table.serviceName.substring(1)};

    private QueryWrapper<${entity}> toQueryWrapper(
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in $table.fields)
## 排除审计字段和主键id字段
#if($field.propertyName != "id")$!field.propertyType $!field.propertyName#if($foreach.hasNext),#end#end
#end
## ----------  END 字段循环遍历  ----------
            ) {
        QueryWrapper<${entity}> queryWrapper = new QueryWrapper<>();
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in $table.fields)
## 排除审计字段和主键id字段
#if($field.propertyName != "id")
#if($field.propertyType == "String")
        if (StringUtils.isNotBlank($!field.propertyName)) {
            queryWrapper.like("$!field.name", $!field.propertyName);
        }
#else
        if ($!field.propertyName != null) {
            queryWrapper.eq("$!field.name", $!field.propertyName);
        }
#end
#end
#end
## ----------  END 字段循环遍历  ----------
        return queryWrapper;
    }

    @Override
    public PageResp<${entity}Resp> page(Long current, Long size,## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in $table.fields)
#if($field.propertyName != "id")
    $!field.propertyType $!field.propertyName#if($foreach.hasNext),#end
#end
#end
## ----------  END 字段循环遍历  ----------
            ) {
        QueryWrapper<${entity}> queryWrapper = toQueryWrapper(## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in $table.fields)
#if($field.propertyName != "id")
    $!field.propertyName#if($foreach.hasNext),#end
#end
#end
## ----------  END 字段循环遍历  ----------
            );

        long count = ${table.serviceName.substring(0,1).toLowerCase()}${table.serviceName.substring(1)}.count(queryWrapper);

        queryWrapper.orderByDesc("id");
        List<${entity}> list = ${table.serviceName.substring(0,1).toLowerCase()}${table.serviceName.substring(1)}.list(PageDTO.of(current, size), queryWrapper);

        List<${entity}Resp> respList = PropertyUtils.copyArrayProperties(list, ${entity}Resp.class);
        return PageResp.of(count, respList);
    }

    @Override
    public List<${entity}Resp> list(## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in $table.fields)
#if($field.propertyName != "id")
    $!field.propertyType $!field.propertyName#if($foreach.hasNext),#end
#end
#end
## ----------  END 字段循环遍历  ----------
            ) {
        QueryWrapper<${entity}> queryWrapper = toQueryWrapper(## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in $table.fields)
#if($field.propertyName != "id")
    $!field.propertyName#if($foreach.hasNext),#end
#end
#end
## ----------  END 字段循环遍历  ----------
            );

        queryWrapper.orderByDesc("id");
        List<${entity}> list = ${table.serviceName.substring(0,1).toLowerCase()}${table.serviceName.substring(1)}.list(queryWrapper);

        List<${entity}Resp> respList = PropertyUtils.copyArrayProperties(list, ${entity}Resp.class);
        return respList;
    }

    @Override
    public ${entity}Resp query(Integer id) {
        ${entity} entity = ${table.serviceName.substring(0,1).toLowerCase()}${table.serviceName.substring(1)}.getById(id);
        ${entity}Resp entityResp = PropertyUtils.copyProperties(entity, ${entity}Resp.class);
        return entityResp;
    }

    @Override
    public Boolean save(${entity}Req req) {
        ${entity} entity = PropertyUtils.copyProperties(req, ${entity}.class);
        boolean success = ${table.serviceName.substring(0,1).toLowerCase()}${table.serviceName.substring(1)}.save(entity);
        return success;
    }

    @Override
    public Boolean update(${entity}Req req) {
        ${entity} entity = PropertyUtils.copyProperties(req, ${entity}.class);
        boolean success = ${table.serviceName.substring(0,1).toLowerCase()}${table.serviceName.substring(1)}.updateById(entity);
        return success;
    }

    @Override
    public Boolean remove(List<Integer> ids) {
        if (CollectionUtils.isEmpty(ids)) {
            return true;
        }
        boolean success = ${table.serviceName.substring(0,1).toLowerCase()}${table.serviceName.substring(1)}.removeBatchByIds(ids);
        return success;
    }
}
