package ${package.Entity};

import com.baomidou.mybatisplus.annotation.FieldFill;
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.extension.activerecord.Model;
import lombok.Data;

import java.time.LocalDateTime;

/**
 * ${table.comment}
 * @author CodeGenerate
 */
@Data
@TableName("${table.name}")
public class ${entity} extends Model<${entity}> {

<#list table.fields as field>
<#if field.keyFlag?? && field.keyFlag>
    /**
     * ${field.comment!}
     */
    private ${field.propertyType} ${field.propertyName};
<#elseif field.propertyType == "LocalDateTime">
    /**
     * ${field.comment!}
     */
    <#if field.name == "create_time" || field.name == "createTime">
    @TableField(fill = FieldFill.INSERT)
    <#elseif field.name == "update_time" || field.name == "updateTime">
    @TableField(fill = FieldFill.INSERT_UPDATE)
    <#else>
    @TableField(fill = FieldFill.INSERT_UPDATE)
    </#if>
    private ${field.propertyType} ${field.propertyName};
<#elseif field.propertyType == "Integer">
    /**
     * ${field.comment!}
     */
    <#if field.name == "create_by" || field.name == "createBy">
    @TableField(fill = FieldFill.INSERT)
    <#elseif field.name == "update_by" || field.name == "updateBy">
    @TableField(fill = FieldFill.INSERT_UPDATE)
    <#else>
    @TableField(fill = FieldFill.INSERT_UPDATE)
    </#if>
    private ${field.propertyType} ${field.propertyName};
<#elseif field.name == "deleted" || field.name == "is_deleted">
    /**
     * ${field.comment!}
     */
    @TableField("${field.name}")
    private ${field.propertyType} ${field.propertyName};
<#else>
    /**
     * ${field.comment!}
     */
    private ${field.propertyType} ${field.propertyName};
</#if>
</#list>
}
