package ${package.Entity};

import java.time.LocalDateTime;

import com.baomidou.mybatisplus.annotation.TableName;
import com.company.datasource.mybatisplus.activerecord.AuditableModel;

import lombok.Data;
import lombok.EqualsAndHashCode;

/**
 * ${table.comment}
 *
 * @author CodeGenerate
 */
@Data
@EqualsAndHashCode(callSuper = true)
@TableName("$!table.name")
public class ${entity} extends AuditableModel<${entity}> {

## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in $table.fields)
## AuditableModel内的字段createTime、createBy、updateTime、updateBy去掉
#if($field.propertyName != "createTime" && $field.propertyName != "createBy" && $field.propertyName != "updateTime" && $field.propertyName != "updateBy")
#if($field.keyFlag)
    /**
     * ${field.comment}
     */
    private $!field.propertyType $!field.propertyName;
#else
    /**
     * ${field.comment}
     */
    private $!field.propertyType $!field.propertyName;
#end
#end
#end
## ----------  END 字段循环遍历  ----------
}
