package ${apiPackage}.feign;

import java.util.List;

import org.springframework.cloud.openfeign.FeignClient;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestParam;

import com.company.common.response.PageResp;
import ${apiPackage}.constant.Constants;
import ${apiPackage}.feign.fallback.ThrowExceptionFallback;
import ${apiPackage}.request.${entity}Req;
import ${apiPackage}.response.${entity}Resp;

@FeignClient(value = Constants.FEIGNCLIENT_VALUE, path = "/${entity.substring(0,1).toLowerCase()}${entity.substring(1)}", fallbackFactory = ThrowExceptionFallback.class)
public interface ${entity}Feign {

	@GetMapping("/page")
	PageResp<${entity}Resp> page(@RequestParam(value = "current") Long current, @RequestParam(value = "size") Long size, @RequestParam(value = "name", required = false) String name, @RequestParam(value = "code", required = false) String code, @RequestParam(value = "value", required = false) String value, @RequestParam(value = "configRemark", required = false) String configRemark);

	@GetMapping("/list")
	List<${entity}Resp> list(@RequestParam(value = "name", required = false) String name, @RequestParam(value = "code", required = false) String code, @RequestParam(value = "value", required = false) String value, @RequestParam(value = "configRemark", required = false) String configRemark);

	@GetMapping("/query")
	${entity}Resp query(@RequestParam("id") Integer id);

	@PostMapping("/save")
	Boolean save(@RequestBody ${entity}Req req);

	@PostMapping("/update")
	Boolean update(@RequestBody ${entity}Req req);

	@PostMapping("/remove")
	Boolean remove(@RequestBody List<Integer> ids);
}
