package ${package.Mapper};

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${package.Entity}.${entity};
import org.apache.ibatis.annotations.Mapper;

/**
 * ${table.comment} Mapper
 * 简单SQL使用 @Select/@Insert/@Update/@Delete 注解，复杂SQL在XML中编写
 *
 * @author ${author}
 * @date ${date}
 */
@Mapper
public interface ${table.mapperName} extends BaseMapper<${entity}> {

}
