package ${package.Mapper};

import ${package.Entity}.${entity};
import com.baomidou.mybatisplus.core.mapper.BaseMapper;

/**
 * ${table.comment}
 *
 * @author CodeGenerate
 */
public interface ${table.mapperName} extends BaseMapper<${entity}> {
}