package ${package.Service};

import com.baomidou.mybatisplus.extension.service.IService;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import lombok.RequiredArgsConstructor;
import org.springframework.stereotype.Service;

/**
 * ${table.comment!} Service
 *
 * @author ${author}
 * @date ${date}
 */
@Service
@RequiredArgsConstructor
public class ${entity}Service extends ServiceImpl<${table.mapperName}, ${entity}> implements IService<${entity}> {

}
