spring:
  datasource:
    dynamic: # 使用动态数据源
      primary: master # 设置默认的数据源或者数据源组,默认master
      strict: false # 是否启用严格模式,默认不启动. 严格模式下未匹配到数据源直接报错, 非严格模式下则使用默认数据源primary所设置的数据源
      lazy: ${custom.lazy} # 是否懒加载数据源
      datasource:
        master:
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://${custom.ip_port}/template?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&tinyInt1isBit=false&allowPublicKeyRetrieval=true
          username: ${custom.username}
          password: ${custom.password}
        slave_1: # 下划线具有分组功能，@Slave注解对应slave数据源或slave分组
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://${custom.ip_port}/template_slave1?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&tinyInt1isBit=false&allowPublicKeyRetrieval=true
          username: ${custom.username}
          password: ${custom.password}
        slave_2: # 下划线具有分组功能，@Slave注解对应slave数据源或slave分组
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://${custom.ip_port}/template_slave2?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&tinyInt1isBit=false&allowPublicKeyRetrieval=true
          username: ${custom.username}
          password: ${custom.password}
        common: # 下划线具有分组功能，@Slave注解对应slave数据源或slave分组
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://${custom.ip_port}/template_common?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&tinyInt1isBit=false&allowPublicKeyRetrieval=true
          username: ${custom.username}
          password: ${custom.password}

mybatis-plus:
  # 配置mapper的扫描，找到所有的mapper.xml映射文件
  mapper-locations: classpath*:mapper/**/*Mapper.xml
  # 搜索指定包别名
  type-aliases-package: com.company.*.entity
  configuration:
    cacheEnabled: false # 使全局的映射器启用或禁用缓存
    lazyLoadingEnabled: true # 全局启用或禁用延迟加载。当禁用时，所有关联对象都会即时加载
    mapUnderscoreToCamelCase: true # 使用驼峰命名法转换字段
    jdbcTypeForNull: NULL # 设置但JDBC类型为空时,某些驱动程序要指定值,default:OTHER，插入空值时不需要指定类型
    logImpl: org.apache.ibatis.logging.log4j2.Log4j2Impl # 打印SQL语句
#    logImpl: org.apache.ibatis.logging.stdout.StdOutImpl # 打印SQL语句
  global-config:
    db-config:
      #主键类型 0(AUTO):"数据库ID自增", 1(INPUT):"用户输入ID",2(ID_WORKER):"全局唯一ID (数字类型唯一ID)", 3(UUID):"全局唯一ID UUID";
      id-type: 0

# 下面是环境区分，多个配置以 ‘---’ 分开
---
# dev环境配置
spring:
  config:
    activate:
      on-profile: dev
custom:
  ip_port: 127.0.0.1:3306
  username: root
  password: 12345678
  lazy: true # 是否懒加载数据源

---
# test环境配置
spring:
  config:
    activate:
      on-profile: test
custom:
  ip_port: 127.0.0.1:3306
  username: root
  password: 12345678
  lazy: false # 是否懒加载数据源

---
# pre环境配置
spring:
  config:
    activate:
      on-profile: pre
custom:
  ip_port: 127.0.0.1:3306
  username: root
  password: 12345678
  lazy: false # 是否懒加载数据源

---
# prod环境配置
spring:
  config:
    activate:
      on-profile: prod,prod-zone1,prod-zone2
custom:
  ip_port: 127.0.0.1:3306
  username: root
  password: 12345678
  lazy: false # 是否懒加载数据源
